@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

@theme {
    --font-display: 'Ubuntu', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #875cf5;

     --color-balance: #3B82F6; /* 🔵 Total Balance */
  --color-income: #16A34A;  /* 🟢 Income */
  --color-expense: #EF4444; /* 🔴 Expense */
}

@layer base {
    html{
        font-family: var(--font-display);
    }

    body{
        background-color: #fcfbfc;
        overflow-x: hidden;
    }
}

@keyframes progress-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress-bar {
  animation: progress-bar 3s linear infinite;
}
